html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	background-color:rgb(22, 27, 46);
	color: rgb(184, 190, 197);
	font-family: 'Dosis', sans-serif;
}

.head {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.head img{
	padding-top:10px;
}

.img {
	margin: 10px;
}

.head-subject{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0px;
	align-items: center;
}

.curses{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 0px;
	align-items: center;
}

.head-subject h2 {
	margin:0;
}

#arguments-sep {
	width: 90%;
	margin: auto;
}

.separator {
	height:40px;
}

.change-subject {
	font-size: 18px;
	color: rgb(184, 190, 197);
	padding: 15px 10px;
}

.main {
	margin-top: 15px;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-top: 0px;
	padding-top: 15px;
	font-size: 48px;
}

h2 {
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 20px;
}

h3 {
	margin: 0px;
	padding-top: 15px;
	font-size: 26px;
}

hr {
	width: 80%;
	margin: 20px 0px 25px 0px;
}

ul {
	padding:0px;
	margin-bottom: 5px;
}

li {
	margin: 5px;
	font-size: 19px;
}

li a {
	text-decoration: none;
	font-size: 19px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	color: #1f8ec5;
}

.special {
	color: #1fc580;
}


li a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #25a4e4;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
li a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.special:after {
	background-color: #1fc580;
}

.subject-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button a {
	text-decoration: none;
	font-size: 18px;
	color: rgb(184, 190, 197);
	display:block;
	padding: 10px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

button {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	margin: 5px;
	padding:1px;
	background-color: rgb(40, 48, 80);
	border-radius: 10px;
	border: 0px;

	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, 0.281);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}


button:hover, button:focus {
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 10px;
	text-shadow: 1px 1px 2px rgb(58, 102, 121);
}

.main button a {
	font-size: 22px;
}

img {
	width: 45px;
	height:45px;
}